---
---
@import "minima";

@media print {
	.no-print {
		display: none;
	}

	body > *:not(.page-content) {
		display: none;
	}

	@page {
		margin: 0;
	}

	body {
		/* Minima's default is 'flex', which makes Firefox print only first page :( */
		display: block;
	}
}

@import "wall_of_wishes";
